.all-contact {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.text-center {
  text-align: center;
}
.custom-cart {
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  width: 400px;
  margin: 10px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2)
}
  .contact-image {
    width: 100%;
  }
  .contact-avatar {
    width: 70%;
    border-radius: 50%;
    margin: 10px auto;
    display: block;
  }
  .strong {
    font-weight: bold;
  }
